body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #0D5C75;
}
.success-message {
    margin-bottom: 20px;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
}
a.button {
    display: inline-block;
    background-color: #0D5C75;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f9f9f9;
}
form {
    display: inline;
}
form button {
    background-color: #8a1b26;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: #c82333;
}
.actions {
    display: flex;
    gap: 10px;
}
.edit-button {
    background-color: #146b28;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.edit-button:hover {
    background-color: #218838;
}
.navbar {
    background-color: #0D5C75;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
    margin-left: 10pc;
    margin-right: 10pc;
    margin-bottom: 20px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbar-brand {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}
.navbar .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}
.navbar .navbar-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}
.navbar .navbar-nav li a:hover {
    color: #0D5C75;
}
img.property-image {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
}
        /* Style for "View Details" button */
.view-details-button {
    background-color: #ac8613; /* Yellow background color */
    color: #212529; /* Dark text color */
    border: none; /* Remove border */
    padding: 8px 12px; /* Padding around the text */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.view-details-button:hover {
    background-color: #0D5C75; /* Darken the background color on hover */
}