body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container {
    width: 400px;
    margin-top: 4pc;
    margin-left: 20pc;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #0D5C75;
    margin-top: 3pc;
}
h2 {
    color: #333;
    margin-top: 30px;
    margin-left: 13pc;
}
p {
    color: #666;
    margin: 5px 0;
    margin-left: 13pc;
    margin-top: 30px;
}
img {
    max-width: 100%;
    height: auto;
    margin-left: 13pc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
form {
    margin-top: 20px;
}
label {
    font-weight: bold;
}
input[type="date"] {
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #0D5C75;
    color: #fff;
    padding: 10px 20px;
    margin-left: 13pc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0D5C75;
}
.error-message {
    color: red;
    margin-top: 5px;
    text-align: center;
}

.details a {
    text-decoration: none;
    margin-left: 40px;
    color: #0D5C75;
}

.lahat {
    display: flex;
}

/* .lahat {
    display: flex;
} */

/* Style for success message */
.success-message {
    background-color: #d4edda; 
    color: #155724; 
    padding: 10px; 
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center; 
}